{% set notcount=databases %}
{% if mod.mysqlpack.package >= 0 %}
  {% set mysqlbar=(100/mod.mysqlpack.package)*notcount %}
  {% if mysqlbar >=26 and mysqlbar <=50 %}
  {% set classbar = 'progress-bar progress-bar-success' %}
  {% elseif mysqlbar >=51 and mysqlbar <=75 %}
  {% set classbar = 'progress-bar progress-bar-warning' %}
  {% elseif mysqlbar >75 %}
  {% set classbar = 'progress-bar progress-bar-danger' %}
  {% else %}
  {% set classbar = 'progress-bar' %}
  {% endif %}
  {% set mysql_package = mod.mysqlpack.package %}
{% else %}
  {% set classbar = 'progress-bar' %}
  {% set mysqlbar = 0 %}
  {% set mysql_package = '&infin;' %}
{% endif %}
<style media="screen">
  .extra-perm .checkbox{
    margin:0px;
  }
  .user_db_host label{
    margin-bottom:0px !important;
  }
  .user_db_host{
    display:flex;
    align-items:center;
    margin-bottom:5px;
  }
  .user_db_host select{
    padding: 2px 3px !important;
    height:25px !important;
  }
  .user_db_host input{
    height: 25px;
    padding: 3px 6px;
  }
  #ippersedit{
    padding: 2px 6px;
    height: 25px;
    margin-left: 10px;
  }
  .db_list_user_item{
    margin-bottom:5px;
  }
  .priviliges-title{
    background-color: #f5f5f5;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .select2.select2-container{
    width:100% !important;
  }
  .select2-results__options li:nth-child(2) {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    font-weight: 600;
  }
  .select2-results__options li:nth-child(2) .fa{
    margin-right:5px;
  }
  .select2-container--default .select2-selection--single{
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 3.2rem;
  }
</style>
<div class="row  border-bottom white-bg dashboard-header">
    {% if mod.fsl == 1 %}
    {% set stflalert ='block' %}
    {% else %}
    {% set stflalert ='none' %}
    {% endif %}
    <div class="row  alert alert-warning col-lg-12" style="margin-left: 5px; padding-right: 5px;display:{{stflalert}}" id="alertfl">
        <strong>{{langene.GALARTFILEBLOCK}}</strong>
    </div>
    <div class="col-lg-10">
        <h2>{{langmod.DTITLE}} ({{users}})</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?">Home</a></li>
            <li class="breadcrumb-item active"><strong>{{langmod.DTITLE}}</strong></li>
        </ol>
    </div>
</div>
<div class="row mysql-module">
    <div class="col-lg-12" style="margin-top: 4rem;">
      <div class="mail-contracted mysql-contracted" style="left: 35vw;display:none;width: 24vw;" id="quotadisk_mysql">
        <div class="ibox-content" id="indemail" style="display: block">
          <ul class="stat-list">
            <li>
              <input type="hidden" id="mysql_plan" value="{{mod.mysqlpack.package}}">
              <h2 class="no-margins" style="vertical-align: inherit;" id="tlftpind">{{langmod.DBDUTITLE}} <span id="mysqldused"></span> / <span id="mysqldquota">{{mod.mysqlpack.disk_quota}}</span></h2>
              <small style="vertical-align: inherit;">{{langmod.DBDASSIGNED}} / {{langmod.DBDUSED}}</small>
              <div class="stat-percent" id="stat-percent-disk"></div>
              <div class="progress progress-mini">
                <div class="progress-bar progress-bar-success" id="barmysqldusage"></div>
              </div>
            </li>
          </ul>
        </div>
        </div>
        <div class="mail-contracted mysql-contracted" id="info_tab_quota">
          <div class="ibox-content" id="indemail" style="display: block">
            <ul class="stat-list">
              <li>
                <input type="hidden" id="mysql_plan" value="{{mod.mysqlpack.package}}">
                <h2 class="no-margins" style="vertical-align: inherit;" id="tlftpind">{{langene.PGMYSQL}} <span id="mysqlused">{{mod.mysqlpack.used}}</span> / {{mysql_package|raw}}</h2>
                <small style="vertical-align: inherit;">{{langmod.DBLABEL1}} / {{langmod.DBLABEL2}}</small>
                <div class="stat-percent" id="stat-percent">{{mysqlbar|round}}%</div>
                <div class="progress progress-mini">
                  {% if mysqlbar >=26 and mysqlbar <=50 %}
                  {% set classbar = 'progress-bar progress-bar-success' %}
                  {% elseif mysqlbar >=51 and mysqlbar <=75 %}
                  {% set classbar = 'progress-bar progress-bar-warning' %}
                  {% elseif mysqlbar >75 %}
                  {% set classbar = 'progress-bar progress-bar-danger' %}
                  {% else %}
                  {% set classbar = 'progress-bar' %}
                  {% endif %}
                  <div class="{{classbar}}" id="baremailind" style="width:{{mysqlbar}}%;"></div>
                </div>
              </li>
            </ul>
          </div>
          </div>
        <div class="row" id="list_db_view">
            <div class="col-lg-12">
              <div class="ibox">
                  <div class="ibox-title" style="padding:0px;">
                    <div class="mysql-title">
                      <h4>{{langmod.DTITLE}}</h4>
                      <div class="text-right">
                          {% if mysqlbar < 100 %}
                          {% set stbtn = '' %}
                          {% else %}
                          {% set stbtn = 'disabled' %}
                          {% endif %}
                          <button type="button" class="btn btn-success btn-sm mr5 mb10 {{stbtn}}" {{stbtn}} data-dismiss="modal" onclick="changeView('add_db_view')" id="modal-btn-onlymysql" style="margin-right: 5px"><i class="fa fa-database"></i> {{langmod.DBADDDB}}</button>
                          <button type="button" class="btn btn-success btn-sm mr5 mb10" onclick="addJustUser()"><i class="fa fa-user"></i> {{langmod.DBBTNADDUSER}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="ibox-content">
                      <div class="row">
                          <div class="tabs-container">
                              <ul class="nav nav-tabs" role="tablist">
                                  <li id="litab1" class="active"><a class="nav-link active show" data-toggle="tab" href="#tab-1" id="dbtab1"> {{langmod.DBTITLELIST}}</a></li>
                                  <li id="litab2"><a class="nav-link" data-toggle="tab" href="#tab-2"  id="dbtab2">{{langmod.DBBTNLISTUSER}}</a></li>
                              </ul>
                              <div class="tab-content" style="width: 100%;">
                                  <div role="tabpanel" id="tab-1" class="tab-pane active show" style="width: 100%;">
                                      <div class="ibox-content" style="width: 100%;" id="table_db_container">
                                        <div class="table_cron_loader"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
                                      </div>
                                  </div>
                                  <div role="tabpanel" id="tab-2" class="tab-pane">
                                      <div class="ibox-content" id="table_user_container">
                                          <div class="table_cron_loader"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
            </div>
        </div>
        <div class="row" id="add_db_view" style="display:none">
          <div class="col-lg-12">
            <div class="ibox">
              <div class="ibox-title" style="padding:10px;">
                <div style="display: flex;justify-content: space-between;">
                  <h4 style="margin-top: 10px;">{{langmod.DBADDNEWDB}}</h4>
                  <div class="text-right">
                    <button type="button" class="btn btn-w-m btn-sm btn-success btn-save-mysql btn-action-cwp" onclick="createDB(this)"><i class="fa fa-floppy-o" aria-hidden="true"></i> <span class="btn-cwp-tag">{{langmod.DBSAVELABEL}}</span></button>
                    <button type="button" class="btn btn-w-m btn-sm btn-warning btn-cancel-mysql btn-action-cwp" id="cron_cancel_button" onclick="changeView('list_db_view')"><i class="fa fa-ban" aria-hidden="true"></i> {{langmod.DBCANCELLABEL}}</button>
                  </div>
                </div>
              </div>
              <div class="ibox-content" style="padding-bottom: 5px;">
                <div class="form-group row">
                  <label class="col-lg-3  control-label" for="newdb">{{langmod.DBLABELDB}}:</label>
                  <div class="col-lg-4">
                      <input type="text" class="form-control" id="newdb" maxlength="7" placeholder="">
                  </div>
                </div>
                <div class="form-group  row" style="margin-top: 5px">
                    <label class="col-lg-3  control-label" for="charsetonly">{{langmod.DBCHARSET}}:</label>
                    <div class="col-lg-6">
                        <select class="form-control"  id="charsetonly">
                            <option value="" selected="">{{langmod.DBDEFAULT}}</option>
                            <optgroup label="armscii8">
                                <option value="armscii8_bin">armscii8_bin</option>
                                <option value="armscii8_general_ci">armscii8_general_ci</option>
                            </optgroup>
                            <optgroup label="ascii">
                                <option value="ascii_bin">ascii_bin</option>
                                <option value="ascii_general_ci">ascii_general_ci</option>
                            </optgroup>
                            <optgroup label="big5">
                                <option value="big5_bin">big5_bin</option>
                                <option value="big5_chinese_ci">big5_chinese_ci</option>
                            </optgroup>
                            <optgroup label="binary">
                                <option value="binary">binary</option>
                            </optgroup>
                            <optgroup label="cp1250">
                                <option value="cp1250_bin">cp1250_bin</option>
                                <option value="cp1250_croatian_ci">cp1250_croatian_ci</option>
                                <option value="cp1250_czech_cs">cp1250_czech_cs</option>
                                <option value="cp1250_general_ci">cp1250_general_ci</option>
                                <option value="cp1250_polish_ci">cp1250_polish_ci</option>
                            </optgroup>
                            <optgroup label="cp1251">
                                <option value="cp1251_bin">cp1251_bin</option>
                                <option value="cp1251_bulgarian_ci">cp1251_bulgarian_ci</option>
                                <option value="cp1251_general_ci">cp1251_general_ci</option>
                                <option value="cp1251_general_cs">cp1251_general_cs</option>
                                <option value="cp1251_ukrainian_ci">cp1251_ukrainian_ci</option>
                            </optgroup>
                            <optgroup label="cp1256">
                                <option value="cp1256_bin">cp1256_bin</option>
                                <option value="cp1256_general_ci">cp1256_general_ci</option>
                            </optgroup>
                            <optgroup label="cp1257">
                                <option value="cp1257_bin">cp1257_bin</option>
                                <option value="cp1257_general_ci">cp1257_general_ci</option>
                                <option value="cp1257_lithuanian_ci">cp1257_lithuanian_ci</option>
                            </optgroup>
                            <optgroup label="cp850">
                                <option value="cp850_bin">cp850_bin</option>
                                <option value="cp850_general_ci">cp850_general_ci</option>
                            </optgroup>
                            <optgroup label="cp852">
                                <option value="cp852_bin">cp852_bin</option>
                                <option value="cp852_general_ci">cp852_general_ci</option>
                            </optgroup>
                            <optgroup label="cp866">
                                <option value="cp866_bin">cp866_bin</option>
                                <option value="cp866_general_ci">cp866_general_ci</option>
                            </optgroup>
                            <optgroup label="cp932">
                                <option value="cp932_bin">cp932_bin</option>
                                <option value="cp932_japanese_ci">cp932_japanese_ci</option>
                            </optgroup>
                            <optgroup label="dec8">
                                <option value="dec8_bin">dec8_bin</option>
                                <option value="dec8_swedish_ci">dec8_swedish_ci</option>
                            </optgroup>
                            <optgroup label="eucjpms">
                                <option value="eucjpms_bin">eucjpms_bin</option>
                                <option value="eucjpms_japanese_ci">eucjpms_japanese_ci</option>
                            </optgroup>
                            <optgroup label="euckr">
                                <option value="euckr_bin">euckr_bin</option>
                                <option value="euckr_korean_ci">euckr_korean_ci</option>
                            </optgroup>
                            <optgroup label="gb2312">
                                <option value="gb2312_bin">gb2312_bin</option>
                                <option value="gb2312_chinese_ci">gb2312_chinese_ci</option>
                            </optgroup>
                            <optgroup label="gbk">
                                <option value="gbk_bin">gbk_bin</option>
                                <option value="gbk_chinese_ci">gbk_chinese_ci</option>
                            </optgroup>
                            <optgroup label="geostd8">
                                <option value="geostd8_bin">geostd8_bin</option>
                                <option value="geostd8_general_ci">geostd8_general_ci</option>
                            </optgroup>
                            <optgroup label="greek">
                                <option value="greek_bin">greek_bin</option>
                                <option value="greek_general_ci">greek_general_ci</option>
                            </optgroup>
                            <optgroup label="hebrew">
                                <option value="hebrew_bin">hebrew_bin</option>
                                <option value="hebrew_general_ci">hebrew_general_ci</option>
                            </optgroup>
                            <optgroup label="hp8">
                                <option value="hp8_bin">hp8_bin</option>
                                <option value="hp8_english_ci">hp8_english_ci</option>
                            </optgroup>
                            <optgroup label="keybcs2">
                                <option value="keybcs2_bin">keybcs2_bin</option>
                                <option value="keybcs2_general_ci">keybcs2_general_ci</option>
                            </optgroup>
                            <optgroup label="koi8r">
                                <option value="koi8r_bin">koi8r_bin</option>
                                <option value="koi8r_general_ci">koi8r_general_ci</option>
                            </optgroup>
                            <optgroup label="koi8u">
                                <option value="koi8u_bin">koi8u_bin</option>
                                <option value="koi8u_general_ci">koi8u_general_ci</option>
                            </optgroup>
                            <optgroup label="latin1">
                                <option value="latin1_bin">latin1_bin</option>
                                <option value="latin1_danish_ci">latin1_danish_ci</option>
                                <option value="latin1_general_ci">latin1_general_ci</option>
                                <option value="latin1_general_cs">latin1_general_cs</option>
                                <option value="latin1_german1_ci">latin1_german1_ci</option>
                                <option value="latin1_german2_ci">latin1_german2_ci</option>
                                <option value="latin1_spanish_ci">latin1_spanish_ci</option>
                                <option value="latin1_swedish_ci">latin1_swedish_ci</option>
                            </optgroup>
                            <optgroup label="latin2">
                                <option value="latin2_bin">latin2_bin</option>
                                <option value="latin2_croatian_ci">latin2_croatian_ci</option>
                                <option value="latin2_czech_cs">latin2_czech_cs</option>
                                <option value="latin2_general_ci">latin2_general_ci</option>
                                <option value="latin2_hungarian_ci">latin2_hungarian_ci</option>
                            </optgroup>
                            <optgroup label="latin5">
                                <option value="latin5_bin">latin5_bin</option>
                                <option value="latin5_turkish_ci">latin5_turkish_ci</option>
                            </optgroup>
                            <optgroup label="latin7">
                                <option value="latin7_bin">latin7_bin</option>
                                <option value="latin7_estonian_cs">latin7_estonian_cs</option>
                                <option value="latin7_general_ci">latin7_general_ci</option>
                                <option value="latin7_general_cs">latin7_general_cs</option>
                            </optgroup>
                            <optgroup label="macce">
                                <option value="macce_bin">macce_bin</option>
                                <option value="macce_general_ci">macce_general_ci</option>
                            </optgroup>
                            <optgroup label="macroman">
                                <option value="macroman_bin">macroman_bin</option>
                                <option value="macroman_general_ci">macroman_general_ci</option>
                            </optgroup>
                            <optgroup label="sjis">
                                <option value="sjis_bin">sjis_bin</option>
                                <option value="sjis_japanese_ci">sjis_japanese_ci</option>
                            </optgroup>
                            <optgroup label="swe7">
                                <option value="swe7_bin">swe7_bin</option>
                                <option value="swe7_swedish_ci">swe7_swedish_ci</option>
                            </optgroup>
                            <optgroup label="tis620">
                                <option value="tis620_bin">tis620_bin</option>
                                <option value="tis620_thai_ci">tis620_thai_ci</option>
                            </optgroup>
                            <optgroup label="ucs2">
                                <option value="ucs2_bin">ucs2_bin</option>
                                <option value="ucs2_croatian_ci">ucs2_croatian_ci</option>
                                <option value="ucs2_croatian_mysql561_ci">ucs2_croatian_mysql561_ci</option>
                                <option value="ucs2_czech_ci">ucs2_czech_ci</option>
                                <option value="ucs2_danish_ci">ucs2_danish_ci</option>
                                <option value="ucs2_esperanto_ci">ucs2_esperanto_ci</option>
                                <option value="ucs2_estonian_ci">ucs2_estonian_ci</option>
                                <option value="ucs2_general_ci">ucs2_general_ci</option>
                                <option value="ucs2_general_mysql500_ci">ucs2_general_mysql500_ci</option>
                                <option value="ucs2_german2_ci">ucs2_german2_ci</option>
                                <option value="ucs2_hungarian_ci">ucs2_hungarian_ci</option>
                                <option value="ucs2_icelandic_ci">ucs2_icelandic_ci</option>
                                <option value="ucs2_latvian_ci">ucs2_latvian_ci</option>
                                <option value="ucs2_lithuanian_ci">ucs2_lithuanian_ci</option>
                                <option value="ucs2_myanmar_ci">ucs2_myanmar_ci</option>
                                <option value="ucs2_persian_ci">ucs2_persian_ci</option>
                                <option value="ucs2_polish_ci">ucs2_polish_ci</option>
                                <option value="ucs2_roman_ci">ucs2_roman_ci</option>
                                <option value="ucs2_romanian_ci">ucs2_romanian_ci</option>
                                <option value="ucs2_sinhala_ci">ucs2_sinhala_ci</option>
                                <option value="ucs2_slovak_ci">ucs2_slovak_ci</option>
                                <option value="ucs2_slovenian_ci">ucs2_slovenian_ci</option>
                                <option value="ucs2_spanish2_ci">ucs2_spanish2_ci</option>
                                <option value="ucs2_spanish_ci">ucs2_spanish_ci</option>
                                <option value="ucs2_swedish_ci">ucs2_swedish_ci</option>
                                <option value="ucs2_thai_520_w2">ucs2_thai_520_w2</option>
                                <option value="ucs2_turkish_ci">ucs2_turkish_ci</option>
                                <option value="ucs2_unicode_520_ci">ucs2_unicode_520_ci</option>
                                <option value="ucs2_unicode_ci">ucs2_unicode_ci</option>
                                <option value="ucs2_vietnamese_ci">ucs2_vietnamese_ci</option>
                            </optgroup>
                            <optgroup label="ujis" title="EUC-JP Japanese">
                                <option value="ujis_bin">ujis_bin</option>
                                <option value="ujis_japanese_ci">ujis_japanese_ci</option>
                            </optgroup>
                            <optgroup label="utf16">
                                <option value="utf16_bin">utf16_bin</option>
                                <option value="utf16_croatian_ci">utf16_croatian_ci</option>
                                <option value="utf16_croatian_mysql561_ci">utf16_croatian_mysql561_ci</option>
                                <option value="utf16_czech_ci">utf16_czech_ci</option>
                                <option value="utf16_danish_ci">utf16_danish_ci</option>
                                <option value="utf16_esperanto_ci">utf16_esperanto_ci</option>
                                <option value="utf16_estonian_ci">utf16_estonian_ci</option>
                                <option value="utf16_general_ci">utf16_general_ci</option>
                                <option value="utf16_german2_ci">utf16_german2_ci</option>
                                <option value="utf16_hungarian_ci">utf16_hungarian_ci</option>
                                <option value="utf16_icelandic_ci">utf16_icelandic_ci</option>
                                <option value="utf16_latvian_ci">utf16_latvian_ci</option>
                                <option value="utf16_lithuanian_ci">utf16_lithuanian_ci</option>
                                <option value="utf16_myanmar_ci">utf16_myanmar_ci</option>
                                <option value="utf16_persian_ci">utf16_persian_ci</option>
                                <option value="utf16_polish_ci">utf16_polish_ci</option>
                                <option value="utf16_roman_ci">utf16_roman_ci</option>
                                <option value="utf16_romanian_ci">utf16_romanian_ci</option>
                                <option value="utf16_sinhala_ci">utf16_sinhala_ci</option>
                                <option value="utf16_slovak_ci">utf16_slovak_ci</option>
                                <option value="utf16_slovenian_ci">utf16_slovenian_ci</option>
                                <option value="utf16_spanish2_ci">utf16_spanish2_ci</option>
                                <option value="utf16_spanish_ci">utf16_spanish_ci</option>
                                <option value="utf16_swedish_ci">utf16_swedish_ci</option>
                                <option value="utf16_thai_520_w2">utf16_thai_520_w2</option>
                                <option value="utf16_turkish_ci">utf16_turkish_ci</option>
                                <option value="utf16_unicode_520_ci">utf16_unicode_520_ci</option>
                                <option value="utf16_unicode_ci">utf16_unicode_ci</option>
                                <option value="utf16_vietnamese_ci">utf16_vietnamese_ci</option>
                            </optgroup>
                            <optgroup label="utf16le">
                                <option value="utf16le_bin">utf16le_bin</option>
                                <option value="utf16le_general_ci">utf16le_general_ci</option>
                            </optgroup>
                            <optgroup label="utf32">
                                <option value="utf32_bin">utf32_bin</option>
                                <option value="utf32_croatian_ci">utf32_croatian_ci</option>
                                <option value="utf32_croatian_mysql561_ci">utf32_croatian_mysql561_ci</option>
                                <option value="utf32_czech_ci">utf32_czech_ci</option>
                                <option value="utf32_danish_ci">utf32_danish_ci</option>
                                <option value="utf32_esperanto_ci">utf32_esperanto_ci</option>
                                <option value="utf32_estonian_ci">utf32_estonian_ci</option>
                                <option value="utf32_general_ci">utf32_general_ci</option>
                                <option value="utf32_german2_ci">utf32_german2_ci</option>
                                <option value="utf32_hungarian_ci">utf32_hungarian_ci</option>
                                <option value="utf32_icelandic_ci">utf32_icelandic_ci</option>
                                <option value="utf32_latvian_ci">utf32_latvian_ci</option>
                                <option value="utf32_lithuanian_ci">utf32_lithuanian_ci</option>
                                <option value="utf32_myanmar_ci">utf32_myanmar_ci</option>
                                <option value="utf32_persian_ci">utf32_persian_ci</option>
                                <option value="utf32_polish_ci">utf32_polish_ci</option>
                                <option value="utf32_roman_ci">utf32_roman_ci</option>
                                <option value="utf32_romanian_ci">utf32_romanian_ci</option>
                                <option value="utf32_sinhala_ci">utf32_sinhala_ci</option>
                                <option value="utf32_slovak_ci">utf32_slovak_ci</option>
                                <option value="utf32_slovenian_ci">utf32_slovenian_ci</option>
                                <option value="utf32_spanish2_ci">utf32_spanish2_ci</option>
                                <option value="utf32_spanish_ci">utf32_spanish_ci</option>
                                <option value="utf32_swedish_ci">utf32_swedish_ci</option>
                                <option value="utf32_thai_520_w2">utf32_thai_520_w2</option>
                                <option value="utf32_turkish_ci">utf32_turkish_ci</option>
                                <option value="utf32_unicode_520_ci">utf32_unicode_520_ci</option>
                                <option value="utf32_unicode_ci">utf32_unicode_ci</option>
                                <option value="utf32_vietnamese_ci">utf32_vietnamese_ci</option>
                            </optgroup>
                            <optgroup label="utf8">
                                <option value="utf8_bin">utf8_bin</option>
                                <option value="utf8_croatian_ci">utf8_croatian_ci</option>
                                <option value="utf8_croatian_mysql561_ci">utf8_croatian_mysql561_ci</option>
                                <option value="utf8_czech_ci">utf8_czech_ci</option>
                                <option value="utf8_danish_ci">utf8_danish_ci</option>
                                <option value="utf8_esperanto_ci">utf8_esperanto_ci</option>
                                <option value="utf8_estonian_ci">utf8_estonian_ci</option>
                                <option value="utf8_general_ci">utf8_general_ci</option>
                                <option value="utf8_general_mysql500_ci">utf8_general_mysql500_ci</option>
                                <option value="utf8_german2_ci">utf8_german2_ci</option>
                                <option value="utf8_hungarian_ci">utf8_hungarian_ci</option>
                                <option value="utf8_icelandic_ci">utf8_icelandic_ci</option>
                                <option value="utf8_latvian_ci">utf8_latvian_ci</option>
                                <option value="utf8_lithuanian_ci">utf8_lithuanian_ci</option>
                                <option value="utf8_myanmar_ci">utf8_myanmar_ci</option>
                                <option value="utf8_persian_ci">utf8_persian_ci</option>
                                <option value="utf8_polish_ci">utf8_polish_ci</option>
                                <option value="utf8_roman_ci">utf8_roman_ci</option>
                                <option value="utf8_romanian_ci">utf8_romanian_ci</option>
                                <option value="utf8_sinhala_ci">utf8_sinhala_ci</option>
                                <option value="utf8_slovak_ci">utf8_slovak_ci</option>
                                <option value="utf8_slovenian_ci">utf8_slovenian_ci</option>
                                <option value="utf8_spanish2_ci">utf8_spanish2_ci</option>
                                <option value="utf8_spanish_ci">utf8_spanish_ci</option>
                                <option value="utf8_swedish_ci">utf8_swedish_ci</option>
                                <option value="utf8_thai_520_w2">utf8_thai_520_w2</option>
                                <option value="utf8_turkish_ci">utf8_turkish_ci</option>
                                <option value="utf8_unicode_520_ci">utf8_unicode_520_ci</option>
                                <option value="utf8_unicode_ci">utf8_unicode_ci</option>
                                <option value="utf8_vietnamese_ci">utf8_vietnamese_ci</option>
                            </optgroup>
                            <optgroup label="utf8mb4" title="UTF-8 Unicode">
                                <option value="utf8mb4_bin">utf8mb4_bin</option>
                                <option value="utf8mb4_croatian_ci">utf8mb4_croatian_ci</option>
                                <option value="utf8mb4_croatian_mysql561_ci">utf8mb4_croatian_mysql561_ci</option>
                                <option value="utf8mb4_czech_ci">utf8mb4_czech_ci</option>
                                <option value="utf8mb4_danish_ci">utf8mb4_danish_ci</option>
                                <option value="utf8mb4_esperanto_ci">utf8mb4_esperanto_ci</option>
                                <option value="utf8mb4_estonian_ci">utf8mb4_estonian_ci</option>
                                <option value="utf8mb4_general_ci">utf8mb4_general_ci</option>
                                <option value="utf8mb4_german2_ci">utf8mb4_german2_ci</option>
                                <option value="utf8mb4_hungarian_ci">utf8mb4_hungarian_ci</option>
                                <option value="utf8mb4_icelandic_ci">utf8mb4_icelandic_ci</option>
                                <option value="utf8mb4_latvian_ci">utf8mb4_latvian_ci</option>
                                <option value="utf8mb4_lithuanian_ci">utf8mb4_lithuanian_ci</option>
                                <option value="utf8mb4_myanmar_ci">utf8mb4_myanmar_ci</option>
                                <option value="utf8mb4_persian_ci">utf8mb4_persian_ci</option>
                                <option value="utf8mb4_polish_ci">utf8mb4_polish_ci</option>
                                <option value="utf8mb4_roman_ci">utf8mb4_roman_ci</option>
                                <option value="utf8mb4_romanian_ci">utf8mb4_romanian_ci</option>
                                <option value="utf8mb4_sinhala_ci">utf8mb4_sinhala_ci</option>
                                <option value="utf8mb4_slovak_ci">utf8mb4_slovak_ci</option>
                                <option value="utf8mb4_slovenian_ci">utf8mb4_slovenian_ci</option>
                                <option value="utf8mb4_spanish2_ci">utf8mb4_spanish2_ci</option>
                                <option value="utf8mb4_spanish_ci">utf8mb4_spanish_ci</option>
                                <option value="utf8mb4_swedish_ci">utf8mb4_swedish_ci</option>
                                <option value="utf8mb4_thai_520_w2">utf8mb4_thai_520_w2</option>
                                <option value="utf8mb4_turkish_ci">utf8mb4_turkish_ci</option>
                                <option value="utf8mb4_unicode_520_ci">utf8mb4_unicode_520_ci</option>
                                <option value="utf8mb4_unicode_ci">utf8mb4_unicode_ci</option>
                                <option value="utf8mb4_vietnamese_ci">utf8mb4_vietnamese_ci</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group  row" style="margin-top: 5px">
                    <!-- <label class="col-lg-4  control-label" for="" style="cursor:pointer" onclick="showCreateUser()"><i class="fa fa-user"></i> {{langmod.DBCREATEUSER}}</label> -->
                    <label class="col-lg-3  control-label" for="charsetonly"><i class="fa fa-user"></i> {{langmod.DBLABELN3}}:</label>
                    <div class="col-lg-6">
                      <select class="form-control" id="user_selector_db">
                      </select>
                    </div>
                </div>
                <div class="mysql_add_user" id="mysql_add_user">
                  <h4 class="mysql_add_user_title">{{langmod.DBNEWUNEWDB}}</h4>
                  <div class="" id="user_to_db">

                  </div>
                </div>
              </div>
              <div class="ibox-footer">
                <div class="text-right">
                  <button type="button" class="btn btn-w-m btn-sm btn-success btn-save-mysql btn-action-cwp" onclick="createDB(this)"><i class="fa fa-floppy-o" aria-hidden="true"></i> <span class="btn-cwp-tag">{{langmod.DBSAVELABEL}}</span></button>
                  <button type="button" class="btn btn-w-m btn-sm btn-warning btn-cancel-mysql btn-action-cwp" id="cron_cancel_button" onclick="changeView('list_db_view')"><i class="fa fa-ban" aria-hidden="true"></i> {{langmod.DBCANCELLABEL}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row add_dbuser_view" id="add_dbuser_view">
          <div class="col-lg-12" id="add_user_content">

          </div>
        </div>
        <div class="row change_pass_user" id="change_pass_user">
          <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title" style="padding: 10px 15px;display:flex;justify-content: space-between;">
                  <input type="hidden" name="user_to_cp" id="user_to_cp" value="">
                  <input type="hidden" name="host_to_cp" id="host_to_cp" value="">
                  <h4 style="margin-top: 10px;" id="user_chpass_title"></h4>
                  <div class="text-right">
                    <button type="button" class="btn btn-w-m btn-sm btn-success btn-save-mysql btn-action-cwp" onclick="mkchangePass(this)"><i class="fa fa-floppy-o" aria-hidden="true"></i> <span class="btn-cp-tag">{{langmod.DBCHANGEPASS}}</span></button>
                    <button type="button" class="btn btn-w-m btn-sm btn-warning btn-cancel-mysql btn-action-cwp" onclick="changeView('list_db_view')"><i class="fa fa-ban" aria-hidden="true"></i> {{langmod.DBCANCELLABEL}}</button>
                  </div>
                </div>
                <div class="ibox-content">
                  <div class="form-group row">
                      <label class="col-lg-3  control-label" for="newdb">{{langmod.DBLABELPASS1}}:</label>
                      <div class="col-lg-4 pass-container-strength">
                        <input type="text" class="form-control"  id="adduserpass" value="" >
                        <div class="pwstrength_userchange"></div>
                      </div>

                      <!-- <div class="col-sm-2"><?php echo $lang['DBLABELRANDON'] ?> <a href="#" onclick="return changerrandom('pass1new')" data-toggle="tooltip" data-placement="top" title="" data-original-title="<?php echo $lang['ICONRANDOM'] ?>"><i class="fa fa-cog"></i></a></div> -->
                      <div class="col-lg-4">
                        <span class="btn btn-default" title="Generate random password" onclick="generateNewPass('userp', this)"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <div class="btn-group dropdown" id="show_options_button">
                          <button type="button" class="btn btn-default" onclick="openPGOPT()">{{langmod.FTPENCRYTED}}<span class="caret" style="margin-left:10px"></span></button>
                          <div class="general-password-generator-options mysql_generator" id="pgopt_container" style="display: none;z-index: 20;box-shadow: 3px 7px 10px -6px #777;">
                            <!-- <span class="general-password-generator-options-title"><b>Options</b></span>
                            <span class="general-password-generator-options-close" onclick="closePGOPT()" style="cursor:pointer">s<i class="fa fa-window-close"></i></span> -->
                              <ul class="right animated fadeIn">
                                <li>
                                  <select class="form-control" id="lengthpass" title="Length" style="margin-bottom: 5px;">
                                    <option value="7"> {{langmod.FTPLENGTH}}  7</option>
                                    <option value="8"> {{langmod.FTPLENGTH}}  8</option>
                                    <option value="9"> {{langmod.FTPLENGTH}}  9</option>
                                    <option value="10"> {{langmod.FTPLENGTH}} 10</option>
                                    <option value="11"> {{langmod.FTPLENGTH}} 11</option>
                                    <option value="12" selected=""> {{langmod.FTPLENGTH}} 12</option>
                                    <option value="13"> {{langmod.FTPLENGTH}} 13</option>
                                    <option value="14"> {{langmod.FTPLENGTH}} 14</option>
                                    <option value="15"> {{langmod.FTPLENGTH}} 15</option>
                                  </select>
                                </li>
                                <li>
                                  <select class="form-control" id="typepass" title="Type">
                                    <option value="alf">{{langmod.FTPTYPE}} {{langmod.FTPALF}}</option>
                                    <option value="num" selected="">{{langmod.FTPTYPE}} {{langmod.FTPALFNUM}}</option>
                                    <option value="def">{{langmod.FTPTYPE}} {{langmod.FTPALFNUMSIG}}</option>
                                  </select>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group row" style="margin-bottom:0px;">
                      <label class="col-lg-3  control-label" for="pass2new">{{langmod.DBLABELPASS2}}:</label>
                      <div class="col-lg-4"><input type="text" class="form-control"  id="pass2new" value="" >
                      </div>
                  </div>
                </div>
                <div class="ibox-footer">
                  <div class="text-right">
                    <button type="button" class="btn btn-w-m btn-sm btn-success btn-save-mysql btn-action-cwp" onclick="mkchangePass(this)"><i class="fa fa-floppy-o" aria-hidden="true"></i> <span class="btn-cp-tag">{{langmod.DBCHANGEPASS}}</span></button>
                    <button type="button" class="btn btn-w-m btn-sm btn-warning btn-cancel-mysql btn-action-cwp" onclick="changeView('list_db_view')"><i class="fa fa-ban" aria-hidden="true"></i> {{langmod.DBCANCELLABEL}}</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper-content" style="margin-top: 35px">
        {% include 'footer.html' %}
    </div>
</div>
<style>
    .dataTables_wrapper div.row{
        width: 100%;
    }
</style>
