<style media="screen">
  #legend {
    display:flex;
  }
  .color_box{
    height: 10px;
    width: 10px;
    position: relative;
    display: inline-block;
    top: 0.5rem;
  }
  .legendera{
    margin-right: 10px;
    margin-left: 5px;
  }
  #bandwidth-line-chart, .graph-nodata{
    height:220px;
  }
  .graph-nodata{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
  }
  .band-graph-title{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .band-graph-select{
    width: 30%;
    margin-left: 10px;
  }
  .footer{
    position: relative;
    margin: auto -15px;
  }
  .dashboard-wrapper{
    margin-top:2rem;
  }
  .dashboard-wrapper .ibox{
    margin-bottom:15px;
  }
  .dashboard-wrapper .ibox .ibox-content{
    padding-bottom:35px;
  }
  .dashboard-wrapper .ibox .ibox-content .row{
    margin-top: 15px;
  }
  .dashboard-item a{
    display:flex;
    align-items: center;
  }
  .dashboard-item a i{
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 3.5rem;
    box-shadow: 2px 3px 11px #99999975;
    min-width: 6rem;
    text-align: center;
  }
  .dashboard-item a:hover i{
    background-color: #337ab7;
    color: #fff;
    border-color: #ddd;
  }
  .dashboard-item a:hover span{
    text-decoration: underline;
  }
  .dashboard-item a span{
    font-weight:bold;
  }
  .statistic-box{
    margin-top: 0px !important;
  }
  .graph-stats-wrapper{
    padding-top: 0px;
    padding-bottom: 15px !important;
  }
  .list-group-item{
    display:flex;
    justify-content: space-around;
  }
  .list-group-item .label.label-success{
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .last-access-date{
    font-size:1.2rem;
  }
  .infinite-sign{
    font-size: 2.2rem;
    position: absolute;
    margin-top: -6px;
    font-weight: 500;
  }
  .list-group .list-group-item:last-child{
    border-bottom: 1px solid #e7eaec;
  }
  .server-status small{
    font-size: 80%;
    padding-top: 8px;
    display: block;
  }
</style>
{% if mod.view_band_graph == 'true' %}
{% set icon ='fa-chevron-up' %}
{% set display_graph ='normal' %}
{% else %}
{% set icon ='fa-chevron-down' %}
{% set display_graph ='none' %}
{% endif %}
<div class="dashboard-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
            <div class="band-graph-title">
              <h5><i class="fa fa-bar-chart-o"></i> {{langene.GRAPHTITLE}}</h5>
              <select class="form-control band-graph-select" onchange="changeGraph(this)" name="">
                <option value="c" selected>{{langene.GRAPHCMONTH}}</option>
                <option value="l">{{langene.GRAPHLMONTH}}</option>
              </select>
            </div>
            <div class="ibox-tools">
                <a class="collapse-link" id="toggle_graph" onclick="savePref()">
                    <i class="fa {{icon}}"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" id="graph_content" style="padding-bottom: 15px; display:{{display_graph}}">
          <div class="row">
            <div class="col-md-12" id="bandwidth-graph">
              <div id="bandwidth-line-chart"></div>
              <div id="legend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
              <i class="fa fa-users" aria-hidden="true"></i> {{langene.GNLABLE7}}
          </h5>
        </div>
        <div class="ibox-content">
          <ul class="list-group clear-list m-t">
              {% for var in mod.lastaccess %}
              <li class="list-group-item">
                  <div class="label label-success">
                    <span>{{var.ip}}</span>
                    {% if var.flag!='' %}
                      <img src="{{url}}/img/flags/16/{{var.flag}}.png" class="pull-right" alt="{{var.city}}/{{var.country}}" title="{{var.city}}/{{var.flag}}">
                    {% endif %}
                  </div>
                  <span class="fab fa-{{var.os}}"></span>
                  <span class="last-access-date">{{var.date|date("d/m/Y H:i")}}</span>
              </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
              <h5><i class="fa fa-line-chart"></i> {{langmod.PLANSTATUS}}</h5>
          </h5>
        </div>
        <div class="ibox-content graph-stats-wrapper">
          <div class="statistic-box">
            <div class="row text-center" style="margin-top:0px;">
                <div class="col-lg-4">
                    <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                    {% set mysqlbar=(100/mod.mysqlpack.package)*mod.mysqlpack.used %}
                    <h5>{{langene.PGMYSQL}} {{mod.mysqlpack.used}} /
                      {% if mod.mysqlpack.package != '-1' %}
                        {{mod.mysqlpack.package}}
                      {% else %}
                        <span class="infinite-sign">&infin;</span>
                      {% endif %}
                    </h5>
                </div>
                <div class="col-lg-4">
                    <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                    <h5 >{{langene.PGEMAIL}} {{mod.email_accounts}} /
                      {% if mod.email_pack != '-1' %}
                        {{mod.email_pack}}
                      {% else %}
                        <span class="infinite-sign">&infin;</span>
                      {% endif %}
                    </h5>
                </div>
                <div class="col-lg-4">
                    <canvas id="doughnutChart3" width="80" height="80" style="margin: 18px auto 0"></canvas>
                    <h5 >{{langene.PGDOMAINS}} {{mod.domain_accounts}}/
                      {% if mod.domain_pack != '-1' %}
                        {{mod.domain_pack}}
                      {% else %}
                        <span class="infinite-sign">&infin;</span>
                      {% endif %}
                    </h5>
                </div>
                <div class="col-lg-4">
                    <canvas id="doughnutChart5" width="80" height="80" style="margin: 18px auto 0"></canvas>
                    <h5 >{{langene.PGSUBDOMAIN}} {{mod.subdomain_accounts}}/
                      {% if mod.subdomain_pack != '-1' %}
                        {{mod.subdomain_pack}}
                      {% else %}
                        <span class="infinite-sign">&infin;</span>
                      {% endif %}
                    </h5>
                </div>
                <div class="col-lg-4">
                    <canvas id="doughnutChart4" width="80" height="80" style="margin: 18px auto 0"></canvas>
                    <h5 >{{langene.PGFTP}} {{mod.ftp_accounts}} /
                      {% if mod.ftp_pack != '-1' %}
                        {{mod.ftp_pack}}
                      {% else %}
                        <span class="infinite-sign">&infin;</span>
                      {% endif %}
                    </h5>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
          <div class="ibox-title">
            <h5><i class="fa fa-info" aria-hidden="true"></i> {{langmod.SERVERSTATUS}}</h5>
          </div>
          <div class="ibox-content" style="padding-bottom: 15px;padding-top:5px;">
            <div class="row" style="margin-top: 0px;">
              <div class="col-md-12 server-status">
                  <div style="margin-top: 15px">
                      <h3>{{langmod.GNLABEL21}}:
                          <small>{{settings.timerdate}}<br></small>
                  </div>
                  <div style="margin-top: 5px">
                      <h3>{{langmod.GNLABEL22}}:
                          <small>{{mod.package_username}}</small>
                  </div>
                  <div style="margin-top: 5px">
                      <h3>{{langene.GNLABEL27}}:
                          <small>{{mod.domain_username}}</small>
                  </div>
                  <div style="margin-top: 15px">
                      <h3>{{langmod.GNLABEL23}}:
                          <small>{{settings.ipserver}}</small>
                  </div>
                  <div style="margin-top: 15px">
                      <h3>{{langmod.GNLABEL24}}:
                          <small><b>Ns1:</b> {{dnsname.ns1}}<br><b>Ns2:</b>  {{dnsname.ns2}}</small>
                  </div>

             </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  {% if (("crontab" in rmenu )or("process_list" in rmenu )or("phpini_editor" in rmenu )or(menu.cloudlinux ==1 )or(menu.notification_center ==1 )or(menu.cloudlinux ==1 )or(menu.phpselector ==1 ))or(swmenu==1) %}
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5><i class="fa fa-bar-chart-o"></i> {{langmod.CWPSETTING}}</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="row">
                      {% if ("crontab" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item">
                        <a href="?module=crontab"><i class="fab fa-linode fa-3x"></i>   <span>{{langene.CRON}}</span>
                        </a>
                      </div>
                      {% endif %}
                      {% if ("process_list" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item">
                        <a href="#" data-toggle="modal" data-target="#modalprocesslist"  class="mod_process_list">
                        <i class="fab fa-free-code-camp fa-3x"></i>   <span>{{langene.PROCESSLIST}}</span>
                      </a>
                    </div>
                      {% endif %}
                      {% if ("phpini_editor" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item">
                        <a href="?module=phpini_editor"><i class="fa fa-edit fa-3x"></i>   <span>{{langene.PHPINI}}</span>
                        </a>
                      </div>
                      {% endif %}
                      {% if menu.cloudlinux ==1 %}
                      <div class="col-md-3 dashboard-item">
                        <a href="?module=php_selector"><i class="fa fa-cubes fa-3x"></i>   <span>{{langene.PHPSELECTOR}}</span>
                        </a>
                      </div>
                      {% endif %}
                      {% if ("notification_center" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item">
                        <a href="?module=notification_center"><i class="fa fa-bell fa-3x"></i>   <span>{{langene.BTNOTITITLE}}</span>
                        </a>
                      </div>
                      {% endif %}
                  </div>
                  <div class="row">
                      {% if ("phpselector" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item">
                        <a href="?module=phpselector"><i class="fab fa-php fa-3x"></i>   <span>{{langene.GNLABEL50}}</span>
                        </a>
                      </div>
                      {% endif %}
                      {% if ("statistics" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item">
                          <a href="?module=mod_security"><i class="fa fa-lock fa-3x"></i>   <span>Mod Security</span>
                          </a>
                      </div>
                      {% endif %}
                      {% if ("statistics" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item">
                        <a href="?module=statistics"><i class="fab fa-stack-overflow fa-3x"></i>   <span>{{langene.GNLABEL51}}</span>
                        </a>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endif %}
  {% if (("files_system_lock" in rmenu )or("clam" in rmenu )or("file_manager" in rmenu )or("ftp_accounts" in rmenu )or("backups" in rmenu )or ("protected_directory" in rmenu ))or(swmenu==1) %}
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5><i class="fa fa-edit"></i> {{langmod.FILEM}}</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="row">
                      {% if ("files_system_lock" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item">
                            <a href="#" class="files_system_lock"><i class="fa fa-lock fa-3x"></i>   <span>{{langene.FILESYST}}</span></a>
                          </div>
                      {% endif %}
                      {% if ("clam" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item">
                            <a href="#" id="clam" class="clam"><i class="fa fa-bug fa-3x"></i>   <span>{{langene.ANTIVI}}</span></a>
                          </div>
                      {% endif %}
                      {% if ("filemanager" in rmenu )or("file_manager" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item">
                            <a href="fileManager2.php" target="_blank"><i class="fa fa-file-archive-o fa-3x"></i>   <span>{{langene.FTPFILE}}</span></a>
                          </div>
                      {% endif %}
                      {% if ("ftp_accounts" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item">
                            <a href="?module=ftp_accounts"><i class="fa fa-file-code-o fa-3x"></i>   <span>{{langene.FTPACC}}</span></a>
                          </div>
                      {% endif %}
                  </div>
                  <div class="row">
                    {% if ("backups" in rmenu )or(swmenu==1) %}
                        <div class="col-md-3 dashboard-item">
                          <a href="?module=backups"><i class="fa fa-cloud fa-3x"></i>   <span>{{langene.BACKUP}}</span></a>
                        </div>
                    {% endif %}
                    {% if (apache==1)%}
                        {% if ("protected_directory" in rmenu )or(swmenu==1) %}
                            <div class="col-md-3 dashboard-item">
                              <a href="?module=protected_directory"><i class="fa fa-unlock-alt fa-3x"></i>   <span>{{langene.DIRPROTE}}</span></a>
                            </div>
                        {% endif %}
                    {% endif %}

                      {% if ("error_log" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item">
                              <a href="?module=error_log"><i class="fa fa-search fa-3x"></i>   <span>{{langene.GNLABEL52}}</span></a>
                          </div>
                      {% endif %}
                      {% if ("diskusage" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item">
                          <a href="?module=disk_usage"><i class="fa fa-hdd-o fa-3x"></i>   <span>{{langene.MENUDISKUSAGE}}</span>
                          </a>
                      </div>
                      {% endif %}

                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endif %}
  {% if ("domains" in rmenu )or("subdomains" in rmenu )or("letsencrypt" in rmenu )or("vdomaincache" in rmenu )or(swmenu==1) %}
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5><i class="fa fa-globe"></i> {{langmod.DOMAINS}}</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="row">
                      {% if ("domains" in rmenu )or(swmenu==1) %}
                      <div class="col-md-3 dashboard-item"><a href="?module=domains"><i class="fa fa-globe fa-3x"></i>   <span>{{langene.DOMAINS}}</span></a></div>
                      {% endif %}
                      {% if ("subdomains" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item"><a href="?module=subdomains"><i class="fa fa-umbrella fa-3x"></i>   <span>{{langene.SUBDOMAIN}}</span></a></div>
                      {% endif %}
                      {% if ("letsencrypt" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item"><a href="?module=letsencrypt"><i class="fa fa-dollar fa-3x"></i>   <span>{{langene.AUTOSSL}}</span></a></div>
                      {% endif %}
                      {% if ("sslwizard" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item"><a href="?module=sslwizard"><i class="fa fa-dollar fa-3x"></i>   <span>Custom SSL</span></a></div>
                      {% endif %}
                      <!--{% if mod.apache==1 and  mod.nginx==0  %}
                          {% if ("redirect" in rmenu )or(swmenu==1) %}
                              <div class="col-md-3 dashboard-item">
                                  <a href="?module=redirect"><i class="fa fa-recycle fa-3x"></i>   <span>{{langene.GNLABEL53}}</span></a>
                              </div>
                          {% endif %}
                      {% endif %}-->
                  </div>
                  <div class="row">
                    {% if mod.varnish==1 %}
                        {% if ("vdomaincache" in rmenu )or(swmenu==1) %}
                        <div class="col-md-3 dashboard-item"><a href="?module=vdomaincache"><i class="fa fa-space-shuttle fa-3x"></i>  <span>{{langene.CACHE1}}</span></a></div>
                        {% endif %}
                    {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endif %}
  {% if ("mysql_manager" in rmenu ) or ("posgresql_manager" in rmenu) or (swmenu==1) %}
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5><i class="fa fa-database"></i> {{langmod.SQLSERV}}</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="row">
                      {%  if ("mysql_manager" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item"><a href="?module=pma" target="_blank"><i class="fa fa-database fa-3x"></i> <span>{{langene.PHPMYADMIN}}</span></a></div>
                          <div class="col-md-3 dashboard-item"><a href="?module=mysql_manager"><i class="fa fa-graduation-cap fa-3x"></i> <span>{{langene.MANAGERMYSQL}}</span></a></div>
                          <div class="col-md-3 dashboard-item"><a href="#" id="mysql_processes" class="mysql_processes"><i class="fa fa-database fa-3x"></i> <span>{{langene.SHOWMYSQL}}</span></a></div>
                      {% endif %}
                      {% if (postgres==1) %}
                          {% if ("posgresql_manager" in rmenu ) or (swmenu==1) %}
                              <div class="col-md-3 dashboard-item"><a href="?module=postgresql_manager"><i class="fa fa-graduation-cap fa-3x"></i> <span>{{langene.MANAGERPOSGRE}}</span></a></div>
                          {% endif %}
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endif %}
  {% if ("email_accounts" in rmenu )or("mail_autoreply" in rmenu ) or("roundcube" in rmenu ) or (swmenu==1) %}
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5><i class="fa fa-envelope"></i> {{langmod.MAILACCOUNT}}</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="row">
                      {% if ("email_accounts" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item"><a href="?module=email_accounts"><i class="fa fa-at fa-3x"></i> <span>{{langene.MAILACCOUNT}}</span></a></div>
                      {% endif %}
                      {% if ("forwarders_email" in rmenu )or(swmenu==1) %}
                          <div class="col-md-3 dashboard-item"><a href="?module=forwarders_email"><i class="fa fa-share fa-3x"></i> <span>{{langene.MENUEMFOR}}</span></a></div>
                      {% endif %}
                      {% if ("mail_autoreply" in rmenu ) or (swmenu==1) %}
                      <div class="col-md-3 dashboard-item"><a href="?module=mail_autoreply"><i class="fa fa-envelope fa-3x"></i> <span>{{langene.AUTORESPONDER}}</span></a></div>
                      {% endif %}
                      {% if ("roundcube" in rmenu ) or (swmenu==1) %}
                      <div class="col-md-3 dashboard-item"><a href="{{mod.roundcube}}" target="_blank"><i class="fa fa-compass fa-3x"></i> <span>{{langene.ROUNDCUBE}}</span></a></div>
                      {% endif %}
                  </div>
                  <div class="row">
                      {% if ("mail_routing" in rmenu ) or (swmenu==1) %}
                          <div class="col-md-3 dashboard-item"><a href="?module=mail_routing"><i class="fa fa-envelope fa-3x"></i> <span>{{langene.DASWER}}</span></a></div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endif %}
  {% if ("dns_zone_editor" in rmenu )or(swmenu==1) %}
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5><i class="fa fa-envelope"></i> {{langmod.DNS}}</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <div class="col-md-3 dashboard-item"><a href="?module=dns_zone_editor"><i class="fa fa-cogs fa-3x"></i> <span>{{langene.DNSZONEEDITOR}}</span></a></div>
              </div>
          </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if ("addons" in rmenu )or(swmenu==1) %}
  <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><i class="fa fa-download"></i> {{langmod.ADDONS}}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-3 dashboard-item"><a href="?module=addons&acc=filemanager"><i class="fa fa-folder-open fa-3x"></i> <span>{{langene.ASSMOD_EXPLO}}</span></a></div>
                    <div class="col-md-3 dashboard-item"><a href="?module=addons&acc=wordpress"><i class="fab fa-wordpress fa-3x"></i> <span>{{langene.ASSMOD_WP}}</span></a></div>
                    <div class="col-md-3 dashboard-item"><a href="?module=addons&acc=prestashop"><i class="fa fa-compress fa-3x"></i> <span>{{langene.ASSMOD_PS}}</span></a></div>
                    <div class="col-md-3 dashboard-item"><a href="?module=addons&acc=joomla"><i class="fab fa-joomla fa-3x"></i> <span>{{langene.ASSMOD_JL}}</span></a></div>
                </div>
                <div class="row">
                    <div class="col-md-3 dashboard-item"><a href="?module=addons&acc=drupal"><i class="fab fa-drupal fa-3x"></i> <span>{{langene.ASSMOD_DP}}</span></a></div>
                    <div class="col-md-3 dashboard-item"></div>
                    <div class="col-md-3 dashboard-item"></div>
                    <div class="col-md-3 dashboard-item"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
  {% if (("softaculous" in rmenu ) or(mod.sitepad in rmenu )) or ((softmenu==1) or (fant3menu==1) or (mod.sitepad==1))%}
  <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><i class="fa fa-download"></i> {{langmod.SCRIPTINST}}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">

                    {% if ("softaculous" in rmenu )or(swmenu==1) %}
                        <div class="col-md-3 dashboard-item"><a href="?module=softaculous"><img src="{{url}}/img/softaculous.png" class="blue" width="48" style="margin-right: 15px"> <span>{{langene.SOFTAC}}</span></a></div>
                    {% endif %}


                    {% if ("sitepad" in rmenu )or(swmenu==1) %}
                        <div class="col-md-3 dashboard-item"><a href="?module=sitepad"><img src="{{url}}/img/sitepad.png" width="48" style="margin-right: 15px"> <span>{{langene.GNLABEL46}}</span></a></div>
                    {% endif %}

                    {% if(fant3menu==1) %}
                        <div class="col-md-3 dashboard-item"><a href="#"><i class="fa fa-window-restore fa-3x"></i> <span>{{langene.FANTASTICO}}</span></a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
  {% if mod.reseller ==1%}
  <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><i class="fa fa-recycle"></i> {{langmod.GNLABEL37}}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-3 dashboard-item"><a href="?module=reseller"><i class="fa fa-user fa-3x"></i> <span>{{langene.GNLABEL43}}</span></a></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5><i class="fa fa-cog"></i> {{langmod.PNSETTING}}</h5>
              </div>
              <div class="ibox-content">
                  <div class="row">
                      <div class="col-md-3 dashboard-item"><a href="#" data-toggle="modal" data-target="#modal-settings"><i class="fa fa-wrench fa-3x"></i> <span>{{langene.PNSETTING}}</span></a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% include 'footer.html' %}
